<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container">
      
    <div class="nav navbar brands">
    <a href=""><img id="photoid" src="/assets/images/pcpic.jpg" class="image-fluid rounded-circle" height=50 width=50 alt="computer picture"></a>
    <a href="" class="navbar-brand brandname">Lucas Stuiber</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggler"><span class="navbar-toggler-icon" aria-controls="navtoggler"
      aria-expanded="false" aria-label="site nav"></span></button>
    <div class="collapse navbar-collapse" id="navtoggler">
    <div class="nav navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="">Home</a>
      <a class="nav-item nav-link" href="#">Work Experience</a>
      <a class="nav-item nav-link" href="#">Education</a>
      <a class="nav-item nav-link" href="#">Projects</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div><!-- navbar -->
</div><!-- collapse -->
  </div><!-- container -->
</nav><!-- nav -->
<div id="about" class="text-light">
<div class="container">
  <img src="/assets/images/pcpic.jpg" class="image-fluid rounded-circle" height=200 width=200 alt="computer picture">
  <button class="btn"><i class="fa fa-download"></i> Download </button>

  <div class="header">About this website</div>
  <div class="about">This website is meant to help improve my web development skills and to help keep track of any projects I have done. 
                     This is the first solo project of mine. I will also be trying to keep track of the progress of this website as it is developed to show
                     the thought process and issues behind the whole process.</div>
</div>
</div>